.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1008px;
  margin-left: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filteredEl {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 10px 0 16px;
}

.pagination {
  margin-top: 24px;
}

.root .filteredEl .input {
  width: 300px;
}
